.App {
  font-size: 2;
  font-family: "Courier ", Courier, monospace;
}
button {
  font-family: "Courier ", Courier, monospace;
}
.top {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-align: center;
}

.App-header {
  display: flex;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  justify-content: center;
}

.vars {
  display: flex;
  align-items: center;
}

.constraints {
  display: flex;
  align-items: center;
}

.vertivector {
  width: min-content;
}

.objective {
  display: flex;
  align-items: center;
}

.constraintOutput {
  display: flex;
  justify-content: center;
}

label {
  margin: 0.4rem 0;
}

input {
  height: fit-content;
  width: fit-content;
}
